{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h3>ユーザー情報入力フォーム</h3>
    <div class="form m-3" >
        <form action="/create/user" method="POST">
          <div class="m-3">
            <label for="name">名前</label>
            <input type="text" name="name" class="form-control">
            <label for="detail">年齢</label>
            <input type="number" name="age" class="form-control ">
          </div>
          <button type="submit" class="btn btn-primary">登録</button>
        </form>
    </div>
</div>
{% endblock %}